.form {
  width: 100%;
  max-width: 700px;
  margin-bottom: 40px;
}

.text {
  width: 35%;
  padding: 15px;
  display: inline-block;
  vertical-align: bottom;
}

.dropdown {
  width: 30%;
  padding: 15px 15px 7px;
  display: inline-block;
  vertical-align: bottom;
}

.button {
  width: 70%;
  margin: auto;
  margin-bottom: 20px;
}
