@import './sizing/index.css';
@import './colors.css';

:root {
  --fast: .3s;
}

main {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--lightest-gray);
}

.center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-centered {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
